## 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [1]:
import os
dirs = 'data/q15'
if not os.path.exists(dirs):
    os.makedirs(dirs)

In [2]:
# get data
!curl https://nlp100.github.io/data/popular-names.txt > data/q15/popular-names.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 55026  100 55026    0     0   119k      0 --:--:-- --:--:-- --:--:--  119k

### python

In [3]:
import pandas as pd

In [4]:
n = 3
df = pd.read_csv(os.path.join(dirs, 'popular-names.txt'), delimiter='\t', header=None)

In [5]:
len(df)

2780

In [6]:
df[-n:]

          0  1      2     3
2777  Lucas  M  12585  2018
2778  Mason  M  12435  2018
2779  Logan  M  12352  2018

### UNIX command

In [7]:
!tail -n 3 data/q15/popular-names.txt

Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018